{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<section>
    <div class="m-5">
        <div class="row">
          <div class="col-sm-3">
              {% for user in users %}

              <div class="card testimonial-card m-2">

                  <!-- Background color -->
                  <div class="card-up aqua-gradient"></div>
              
                  <!-- Avatar -->
                  <div class="avatar mx-auto white">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="rounded-circle img-responsive" alt="woman avatar">
                  </div>
              
                  <!-- Content -->
                  <div class="card-body">
                    <!-- Name -->
                    <h4 class="card-title font-weight-bold">{{user.first_name}} {{user.last_name}}</h4>
                    <hr>
                    <!-- Quotation -->
                    <p>{{user.email}}</p>
                    <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
                      adipisci</p>
                  </div>    
          </div>
          {% endfor %}
          </div>
          <div class="col-sm-7 pb-2">
            {% for comdata in student_jobs %}
        <!-- Card -->
<div class="card booking-card m-2">
        <!-- Card content -->
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
                <h4 class="card-title font-weight-bold"><a>{{comdata.CompanyName}}</a></h4>
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-2">
              {% for user in users %}
                <input type="hidden"  id='user_id' value="{{ user.id }}">
              {% endfor %}
               <a href="#!">
                  <i class="fas fa-user-edit company_user" style="color: orange;"   company_id='{{comdata.id}}' aria-hidden="true">Apply</i>
                  </a>
            </div>
          </div>
      
          <!-- Title -->
          <!-- Data -->
          <ul class="list-unstyled list-inline rating mb-0">
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"> </i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item mr-0"><i class="fas fa-star amber-text"></i></li>
            <li class="list-inline-item"><i class="fas fa-star-half-alt amber-text"></i></li>
            <li class="list-inline-item"><p class="text-muted">4.5 (413)</p></li>
          </ul>
          <p class="mb-2">{{comdata.CompanyName}}</p>
          <!-- Text -->
          <p class="card-text">{{comdata.Description}}</p>
          <hr class="my-4">
          <p class="lead"><strong>{{comdata.Skills}}</strong></p>
          <p class="card-text">{{comdata.JobDescription}}</p><br>
          <p class="lead"><strong>Interview</strong></p>
          <p class="card-text">{{comdata.InterviewDate}}</p>
          <p class="card-text">{{comdata.InterviewLocation}}</p>
          <p class="card-text">{{comdata.HrNumber}}</p>
          <!-- Button -->
        </div>
      
      </div>
      <!-- Card -->
    {% endfor %} 
          </div>
          <div class="col-sm-2">
          
          </div>
        </div>
      </div>
</section>

{% endblock %}